.poster {
  max-width: 100%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
}
.poster:hover {
  transform: scale(1.1) translate(0);
}

.swiper-scrollbar .swiper-scrollbar-horizontal.swiper-scrollbar {
  background-color: white;
  background: white;
}
