@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flexcenter {
    @apply flex items-center justify-center;
  }
  .margincenter {
    @apply mx-auto my-0;
  }
  .flexwrap {
    @apply flex flex-wrap;
  }
}
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  color: black;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 18px;
}

button {
  border: none;
  background-color: rgb(255, 255, 255, 0);
  font-size: 20px;
  margin-left: 5px;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: rgb(119, 119, 119);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  background: url(../static/icon/left-arrow.png) no-repeat;
}
.swiper-button-next {
  background: url(../static/icon/right-arrow.png) no-repeat;
}
.swiper-button-prev,
.swiper-button-next {
  opacity: 0.7;
  background-size: 70% auto;
  background-position: center;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  background: gray;
}
