/* .videoContainer {
  width: 60vw;
  height: 40vw;
  display: block;
  margin: 0 auto;
  border: none;

  margincenter block w-[60vw] h-[40vw] border-0
} */
/* .container {
  width: 100%;
  text-align: center;

  "w-full text-center"
}
.title {
  "text-[20px] font-bold"
  font-size: 20px;
  font-weight: 700;
} */
/* .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;

  flexcenter margincenter mt-[50px] w-4/5
} */
.poster {
  max-width: 100%;
  border-radius: 20px;
  margin: 10px 20px 30px 20px;
}
/* .content {
  width: 50%;
  line-height: 25px;
  leading-[25px] w-1/2
} */
